*{
    margin: auto;
    background-color: grey;
}
div.menu{
    display: inline-block;

}
nav ul{
    display: inline-block;
    align-items: center;

}
nav ul li{
    display: inline-block;
    text-decoration: none;
    margin: 40px;
    margin-left: 155px;

}
nav ul li a{
    align-items: center;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: white;
}
                